/.classpath
/.project
/eclipse
/.idea
/*.iml
/*.ipr
/*.iws
/libs
/.externalToolBuilders
/dist
gradle.properties
.nb-gradle-properties
/.gradle
/.nb-gradle
/bin
/build
/target
/out

/dependency-reduced-pom.xml
*-private.sh
/nbproject/private/
/buildSrc/build/